<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public/css/acaunt.css">
    <title>Document</title>
</head>
<body>
    
<div>
        <header>
    <div className="logo">LATINO</div>
    <div className="search-bar">
      <input type="text" placeholder="Keresés..." />
    </div>
    <div className="icons" style=<%={{backgroundColor: 'black'}}%>>
      <a href=""> <img src=<%={bag} %>alt="" /> </a>
      <a href="http://localhost:3500/acaunts"> <img src=<%={account}%> alt="" /> </a>
      <a href=""> <img src=<%={favorite} %>alt="" /> </a>
      <a href=""> <img src=<%={menu} %>  alt=""   /> </a>
    </div>
  </header>


    
  <nav className="navbar"><%=%> 
    <button>DIOR</button>
    <button>VALENTINO</button>
    <button>JEAN PAUL</button>
    <button>BOSS</button>
    <button>VERSACCE</button>
    <button>YSL SAINt LAURENT</button>
    <button>CREED</button>
    <button>DOLCE & GABBANE</button>
    <button>GUCCI</button>
    <button>BURBBERY</button>
    <button>ARMANI</button>
    <button>LATTAFA</button>
  </nav>

</body>
</html>