<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link
            rel="stylesheet"
            href="/css/parfumes.css"
        />
        <title>User backend</title>
    </head>
    <body>
        <%- include('nav.ejs') %>
        <div id="user-kontener">
            <h1>Felhasználok</h1>
            <div id="tarto">
                <h4>Felhasználok:</h4>
                <div id="konyvek">
                    <% users.forEach(elem => { %>
                    <div class="konyv">
                        <table>
                            
                            <tr>
                                <td>Név:</td>
                                <td><%= elem.nev %></td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td><%= elem.email %></td>
                            </tr>
                            <tr>
                                <td>Jelszo:</td>
                                <td><%= elem.jelszo %></td>
                            </tr>
                            <tr>
                                <td>
                                    <a
                                        class="modosit"
                                        href="/api/users-backend/<%= elem._id %>"
                                    >
                                        Módosítás
                                    </a>
                                </td>
                                <td>
                                    <button
                                        class="torol"
                                        onclick="torles('<%= elem._id%>')"
                                    >
                                        Törlés
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>
        <script src="/js/user-kezel.js"></script>
    </body>
</html>
